.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 125px;
    height: 16px;
    object-fit: cover;
  }

  &__buttons {
    display: flex;
    justify-content: end;
    gap: 24px;
  }
}
